@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    max-width: 1536px;
    margin: 0 auto;
}

.conteiner-header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner-header h1{
    color: #D2872C;
    font-size: 2.5rem;
    padding-left: 3em;
}

.conteiner-header ul{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.conteiner-header a{
    text-decoration: none;
}

.conteiner-header a:hover{
    font-weight: 700;
}

.conteiner-header li{
    color: #766F68;
    font-size: 1.2rem;
    padding: 10px;
    list-style: none;
}

.menu{
    display: none;
}

.menu img{
    width: 65px;
}

.all-main{
    display: flex;
}

.conteiner-contents{
    width: 60em;
    display: flex;
    flex-direction: column;
}

.conteiner-contents h1{
    width: 8em;
    color: #766F68;
    font-size: 6.3rem;
    margin-top: 30px;
    margin-left: 120px;
    z-index: 9999;
}

.conteiner-contents h3{
    width: 15em;
    color: #766F68;
    font-size: 2.5rem;
    font-weight: 200;
    margin-top: 15px;
    margin-left: 120px;
    z-index: 9999;
}

.conteiner-contents button{
    width: 10em;
    height: 3em;
    background-color: #D2872C;
    color: white;
    font-size: 1.4rem;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 120px;
    transition: 0.1s all;
}

.conteiner-contents button:hover{
    transform: scale(1.1);
}

.conteiner-img{
    position: relative;
    top: 80px;
    right: 250px;
}

.conteiner-img img{
    width: 800px;
}